<div class="container mb-3">
  <div class="modal-header container-fluid mb-0">
    <h1 class="title-light d-inline">Proyectos</h1><fa-icon [icon]="faPlus" class="fa-button-light fa-2x float-right title-light" (click)="openAdd(content)" *ngIf="adminSesion"></fa-icon>
  </div>
    <div class="container rounded-bottom bg-light" >
        <div class="row py-2">

            <div class="col-6" *ngFor="let item of proj">
              <div class=" my-4 row g-0 rounded overflow-hidden flex-md-row shadow-sm h-md-250 position-relative bg-dark">
                <div class="col p-4 d-flex flex-column position-static">
                  <h3 class="mb-0 text-primary">{{item.titulo}}</h3>
                  <div class="mb-1 text-muted">{{item.fecha}}</div>
                  <div class="mb-1 text-muted">{{item.enlace}}</div>
                  <p class="card-text text-light mb-auto">{{item.descripcion}}</p>
                </div>
                <div class="text-center">
                  <img class="img-fluid mx-auto d-block p-3" src={{item.img}} alt="">
                </div>
                <button  class="btn btn-outline-light" (click)="onDelete(item)" *ngIf="adminSesion">Borrar</button>
                <button class="btn btn-outline-light" (click)="openEdit(item,content)" *ngIf="adminSesion">Editar</button>

              </div>
            </div>            
      </div>
  </div>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Informacion</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
      <div class="mb-3">
      <div class="text-center my-3">

          <label for="titulo">Proyecto</label><br>
          <input type="text" name="titulo" placeholder="Nombre proyecto" class="form-control" [(ngModel)]="titulo"><br>
          <label for="titulo">Fecha</label><br>
          <input type="text" name="titulo" placeholder="Fecha de Trabajo" class="form-control" [(ngModel)]="fecha"><br>
          <label for="titulo">Descripción</label><br>
          <textarea type="text" name="titulo" placeholder="Descripción" class="form-control" [(ngModel)]="descripcion"></textarea><br>
          <label for="titulo">enlace</label><br>
          <input type="text" name="titulo" placeholder="enlace" class="form-control" [(ngModel)]="enlace"><br>
          <label for="logo">Imagen</label><br>
          <input type="text" name="img" id="img" placeholder="Imagen" class="form-control" [(ngModel)]="img">
          <br>
          
      </div>
      </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline-dark mx-3 my-3"(click)="saveAdd(); modal.close('Saved New')" *ngIf="addMode && !editMode">guardar Nuevo</button>
    <button class="btn btn-outline-dark mx-3 my-3"(click)="saveEdit(); modal.close('Saved Edit')" *ngIf="!addMode && editMode">guardar Edit</button>
  </div>
</ng-template>