
<button class="btn btn-outline-dark" (click)="dataLoad()" *ngIf="adminSesion">Actualizar</button>

<button class="btn btn-outline-dark" (click)="openAdd(content)" *ngIf="adminSesion">Añadir</button>

<div *ngFor="let item of persona">
<h3>soy el espacio {{item.id}}, mi nombre es {{item.nombre}} {{item.apellido}}</h3>
<p>foto de perfil {{item.img}}</p>
<button  class="btn btn-outline-dark" (click)="onDelete(item)" *ngIf="adminSesion">Borrar</button>
<button class="btn btn-outline-dark" (click)="openEdit(item,content)" *ngIf="adminSesion">Editar</button>
</div>



<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Informacion</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="mb-3">
          
          <div class="text-center my-3">
            <label for="titulo">Nombre</label><br>
            <input type="text" name="nombre" class="form-control" placeholder="Nombre" [(ngModel)]="nombre"><br>
            <label for="titulo">Apellido</label><br>
            <input type="text" name="Apellido" class="form-control" placeholder="Apellido" [(ngModel)]="apellido"><br>
            <label for="titulo">img</label><br>
            <textarea type="text" name="img" class="form-control" placeholder="img" [(ngModel)]="img"></textarea><br>  
        </div>
    </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-outline-dark mx-3 my-3"(click)="saveAdd(); modal.close('Saved New')" *ngIf="addMode && !editMode">guardar Nuevo</button>
      <button class="btn btn-outline-dark mx-3 my-3"(click)="saveEdit(); modal.close('Saved Edit')" *ngIf="!addMode && editMode">guardar Edit</button>
    </div>
  </ng-template>