<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form>
        <div class="mb-3">
            <label for="nombre">Nombre</label><br>
            <input type="text" class="form-control" placeholder="Nombre/s" [(ngModel)]="nombre"><br>
            <label for="apellido">Apellido</label><br>
            <input type="text" class="form-control" placeholder="Apellido/s" [(ngModel)]="apellido"><br>
            <label for="titulo">Titulo</label><br>
            <input type="text" class="form-control" placeholder="Titulo" [(ngModel)]="titulo"><br>
            <label for="lugar">Lugar</label><br>
            <input type="text" class="form-control" placeholder="Lugar" [(ngModel)]="lugar"><br>
            <label for="descripcion">Descripcion</label><br>
            <input type="text" class="form-control" class="form-control" placeholder="Descripcion" [(ngModel)]="descripcion"><br>
            <label for="img">Imagen</label><br>
            <input type="text" class="form-control" [(ngModel)]="img">
            <br>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
  </ng-template>
  
  <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>
  
  <hr>
  
  <pre>{{ closeResult }}</pre>
