<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Informacion</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
      <div class="mb-3">
        
        <div class="text-center my-3">
          <label for="titulo">Institucion</label><br>
          <input type="text" name="titulo" class="form-control" id="titulo" placeholder="Nombre institucion" [(ngModel)]="lugar"><br>
          <label for="titulo">Titulo</label><br>
          <input type="text" name="titulo" class="form-control" id="titulo" placeholder="Titulo Adquirido" [(ngModel)]="titulo"><br>
          <label for="titulo">Descripción</label><br>
          <textarea type="text" name="titulo" class="form-control" id="titulo" placeholder="Descripción" [(ngModel)]="descripcion"></textarea><br>
          <div>
            <label for="logo">Logo</label>
          <input type="checkbox" name="logo" id="logo" placeholder="Descripción" [(ngModel)]="imgBool"><br>
          <p *ngIf="imgBool">URL:</p>
          <input type="text" name="img" id="img" class="form-control" placeholder="Descripción" *ngIf="imgBool" [(ngModel)]="img"><br>
          </div>
            <label for="fecha">Fecha</label><br>
          <div class="row">
            <div class="col mx-3">
              <input type="text" name="fecha1" class="form-control" placeholder="" [(ngModel)]="startDate">
            </div>
            <h3 class="col-1">-</h3>
            <div class="col mx-3">
              <input type="text" name="fecha2" class="form-control" placeholder="" [(ngModel)]="endDate"><br>    
            </div>
          </div>
      </div>
  </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline-dark mx-3 my-3"(click)="saveAdd(); modal.close('Saved New')" *ngIf="addMode && !editMode">guardar Nuevo</button>
    <button class="btn btn-outline-dark mx-3 my-3"(click)="saveEdit(); modal.close('Saved Edit')" *ngIf="!addMode && editMode">guardar Edit</button>
  </div>
</ng-template>


<div class="my-3 container">
  <div class="modal-header container-fluid mb-0">
    <h1 class="title-light d-inline">Educacion</h1><fa-icon [icon]="faPlus" class="fa-button-light fa-2x float-right title-light" (click)="openAdd(content)" *ngIf="adminSesion"></fa-icon>
  </div>
  
  <div class=" p-3 bg-body rounded shadow-sm">
    <div class="d-flex p-3 border-bottom" *ngFor="let item of edu">
      <img class=" my-auto me-3 rounded" width="50px" height="50px" [src]="item.img" >
      <div class="small lh-sm">
        <strong class="d-block text-gray-dark fs-5 ">{{item.lugar}}</strong>
        <strong class="d-block text-gray-dark">{{item.titulo}} ({{item.startDate}} -- {{item.endDate}})</strong>
        <p text="muted" class="d-block text-gray-dark">{{item.descripcion}}</p>
      </div>
      <div class="d-block">
      <fa-icon [icon]="faXmark" class="float-right fa-button fa-lg" (click)="onDelete(item)" *ngIf="adminSesion"></fa-icon>
      <fa-icon [icon]="faPencil" class="float-right fa-button fa-lg" (click)="openEdit(item,content)" *ngIf="adminSesion"></fa-icon>
      </div>
    </div>
</div>   



