<div class="position-relative ">
<img src="../../../assets/images/banner.jpg" alt="" class="img-fluid">
</div>

<!--
<button class="btn btn-outline-light top-50 start-50 translate-middle position-absolute " (click)="openEdit(data[0],content)" *ngIf="adminSesion">Editar</button>


<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Informacion</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="mb-3">
            <label for="img">Enlace</label><br>
            <input type="text" class="form-control" [(ngModel)]="link">
            <br>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-outline-dark mx-3 my-3"(click)="saveEdit();  modal.close('Saved Edit')">Guardar</button>
    </div>
  </ng-template>
  -->