<div class="position-relative">
    <div>
        <img [src]="enlace" alt="" class="img-fluid" id="banner">
        <fa-icon id="editBanner" [icon]="faPencil" class="float-right fa-button-light title-light fa-lg position-absolute mr-5" (click)="open(content)" *ngIf="adminSesion"></fa-icon>
    </div>

</div>




<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Informacion</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="mb-3">
            <label for="img">Enlace</label><br>
            <input type="text" class="form-control" [(ngModel)]="enlace">
            <br>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-outline-dark mx-3 my-3"(click)="saveEdit();  modal.close('Saved Edit')">Guardar</button>
    </div>
  </ng-template>