<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Informacion</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
      <div class="mb-3">
        
        <div class="row text-center my-3">
        <div class="col-sm-12 col-md-6 text-center my-3">
          <label for="titulo">Titulo</label>
          <input type="text" name="titulo" id="titulo" placeholder="insertar titulo" [(ngModel)]="titulo">
        </div>
      
        <div class="col-sm-12 col-md-6 text-center my-3">
          <label for="percent">Porcentaje</label>
          <input type="number" name="percent" id="percent" min="0" max="100" placeholder="Porcentaje" [(ngModel)]="percent">
        </div> 
      
        <div class="col-6 text-center mb-3">
          <label for="color">Color 1</label>
          <input type="color" [(ngModel)]="color">
        </div>  
        <div class="col-6 text-center">
          <label for="colorgr">Color 2</label>
          <input type="color" [(ngModel)]="colorgr">
        </div>
        <div class="col-sm-12 text-center mb-3">
          <label for="img">Imagen</label>
          <input type="text" [(ngModel)]="img">
      </div> 
      <label for="vistaPrev" class="rounded-top mx-auto d-block vistaPrev">Vista Previa</label>
      <div class="rounded-bottom border border-top-0 border-dark p-2">
        <circle-progress
        [percent] ="percent"
        [imageSrc]="img"
        [outerStrokeColor]="color"
        [outerStrokeGradientStopColor]="colorgr"
        [animation] = "false"
        ></circle-progress>
        <h4 class="text-center"><b>{{percent}}%</b></h4> 
      </div>

      </div>
  </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline-dark mx-3 my-3"(click)="saveAdd(); modal.close('Saved New')" *ngIf="addMode && !editMode">guardar Nuevo</button>
    <button class="btn btn-outline-dark mx-3 my-3"(click)="saveEdit(); modal.close('Saved Edit')" *ngIf="!addMode && editMode">guardar Edit</button>
  </div>
</ng-template>

<div class="container mb-3">
  <div class="modal-header container-fluid mb-0">
    <h1 class="title-light">Hard & Soft Skills   <fa-icon [icon]="faPlus" class="fa-button-light fa-sm float-right title-light" (click)="openAdd(content)" *ngIf="adminSesion"></fa-icon></h1>
  </div>
<div class="p-3 bg-body rounded-bottom shadow-sm">
  
    <div class="row my-3">
      <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 img-fluid text-center" *ngFor="let item of skill">
      <div title = {{item.titulo}}>
        <h4>{{item.titulo}}</h4>
      <circle-progress
      [percent] ="item.percent"
      [imageSrc]="item.img"
      [outerStrokeColor]="item.color"
      [outerStrokeGradientStopColor]="item.colorgr"
      ></circle-progress>
      <h4 class="text-center"><b>{{item.percent}}%</b></h4>
      <fa-icon [icon]="faXmark" class="fa-button fa-lg" (click)="onDelete(item)" *ngIf="adminSesion"></fa-icon>
      <fa-icon [icon]="faPencil" class="fa-button fa-lg" (click)="openEdit(item,content)" *ngIf="adminSesion"></fa-icon>
      </div>
      
      </div>
    </div>
    
</div>
</div>

