div{
    text-align: center;
}

#main_con{
    margin: 0 10px 0 10px;
}
#nom{
    margin-top: 15px;
}
#nom_con{
    margin: auto  0;
}

@media(max-width: 575px) {
    #perfil{
        width: 50%;
    }
    #transparente{
        width: 50%;
    }
    
}