<div class="my-3 container">
  <div class="modal-header container-fluid mb-0">
    <h1 class="title-light d-inline">Experiencia</h1>
    <fa-icon [icon]="faPlus" class="fa-button-light fa-2x float-right title-light"
      (click)="openAdd(content); opcionIgualA('add')" *ngIf="adminSesion"></fa-icon>
  </div>
  <div class="p-3 bg-body rounded-bottom shadow-sm">
    <div class="row small lh-sm d-flex p-3 border-bottom" *ngFor="let item of exp">
      <div class="col-1">
        <img class="img-fluid" width="50px" height="50px" [src]="item.img">
      </div>
      <div class="col-10">
        <strong class="d-block text-gray-dark fs-5">{{item.lugar}}</strong>
        <strong class="d-block text-gray-dark">{{item.puesto}} ({{item.startDate}} -- {{item.endDate}})</strong>
        <p text="muted" class="d-block text-gray-dark">{{item.descripcion}}</p>
      </div>
      <div class="col-1 d-block">
        <fa-icon [icon]="faPencil" class="float-right fa-button fa-lg"
          (click)="openEdit(item,content); opcionIgualA('edit')" *ngIf="adminSesion"></fa-icon>
        <fa-icon [icon]="faTrash" class="float-right fa-button fa-lg" (click)="onDelete(item)" *ngIf="adminSesion">
        </fa-icon>
      </div>
    </div>
  </div>
</div>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Experiencia</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>

  <form (ngSubmit)="onEnviar($event)" [formGroup]="form">
    <div class="modal-body">
      <div class="mb-3">

        <div class="text-center my-3">
          <label for="Lugar">Empresa</label><br>
          <input type="text"
            [ngClass]="{'is-invalid' : Lugar?.errors && Lugar?.touched, 'is-valid': !Lugar?.errors && Lugar?.touched}"
            formControlName="lugar" class="form-control" placeholder="Lugar">
          <div *ngIf="Lugar?.hasError && Lugar?.touched">
            <p *ngIf="Lugar?.hasError('required')" class="text-danger">
              Este campo es obligatorio
            </p>
            <p *ngIf="Lugar?.errors?.['maxlength']" class="text-danger">
              Se ha superado el limite de caracteres
            </p>
          </div><br>

          <label for="Puesto">Puesto</label><br>
          <input type="text"
            [ngClass]="{'is-invalid' : Puesto?.errors && Puesto?.touched, 'is-valid': !Puesto?.errors && Puesto?.touched}"
            formControlName="puesto" class="form-control" placeholder="Puesto">
          <div *ngIf="Puesto?.hasError && Puesto?.touched">
            <p *ngIf="Puesto?.hasError('required')" class="text-danger">
              Este campo es obligatorio
            </p>
            <p *ngIf="Puesto?.errors?.['maxlength']" class="text-danger">
              Se ha superado el limite de caracteres
            </p>
          </div><br>

          <label for="Descripcion">Descripcion</label><br>
          <textarea type="text"
            [ngClass]="{'is-invalid' : Descripcion?.errors && Descripcion?.touched, 'is-valid': !Descripcion?.errors && Descripcion?.touched}"
            formControlName="descripcion" class="form-control" class="form-control"
            placeholder="Descripcion"></textarea>
          <div *ngIf="Descripcion?.hasError && Descripcion?.touched">
            <p *ngIf="Descripcion?.errors?.['maxlength']" class="text-danger">
              Se ha superado el limite de caracteres
            </p>
          </div><br>

          <div class="row">
            <p>Logo Personalizado  <input type="checkbox" formControlName="imgBool"></p>
            <div *ngIf="form.value.imgBool">
              <label for="Img">Enlace</label><br>
              <input type="text"
                [ngClass]="{'is-invalid' : Img?.errors && Img?.touched, 'is-valid': !Img?.errors && Img?.touched}"
                formControlName="img" class="form-control" placeholder="Img">
              <div *ngIf="Img?.hasError && Img?.touched">
                <p *ngIf="Img?.hasError('required')" class="text-danger">
                  Este campo es obligatorio
                </p>
                <p *ngIf="Img?.errors?.['maxlength']" class="text-danger">
                  Se ha superado el limite de caracteres
                </p>
              </div>
            </div>
          </div>
          <br>
          <label for="fecha">Fecha</label><br>
          <div class="row">
            <div class="col mx-3">
              <label for="StartDate">Fecha de Inicio</label><br>
              <input type="text"
                [ngClass]="{'is-invalid' : StartDate?.errors && StartDate?.touched, 'is-valid': !StartDate?.errors && StartDate?.touched}"
                formControlName="startDate" class="form-control" placeholder="StartDate">
              <div *ngIf="StartDate?.hasError && StartDate?.touched">
                <p *ngIf="StartDate?.hasError('required')" class="text-danger">
                  Este campo es obligatorio
                </p>
                <p *ngIf="StartDate?.errors?.['maxlength']" class="text-danger">
                  Se ha superado el limite de caracteres
                </p>
              </div><br>
            </div>
            <h3 class="col-2">--</h3>
            <div class="col mx-3">
              <label for="EndDate">Fecha Final</label><br>
              <input type="text"
                [ngClass]="{'is-invalid' : EndDate?.errors && EndDate?.touched, 'is-valid': !EndDate?.errors && EndDate?.touched}"
                formControlName="endDate" class="form-control" placeholder="EndDate">
              <div *ngIf="EndDate?.hasError && EndDate?.touched">
                <p *ngIf="EndDate?.hasError('required')" class="text-danger">
                  Este campo es obligatorio
                </p>
                <p *ngIf="EndDate?.errors?.['maxlength']" class="text-danger">
                  Se ha superado el limite de caracteres
                </p>
              </div><br>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-dark mx-3 my-3" *ngIf="opcion == 'add'">Guardar Nuevo</button>
      <button type="submit" class="btn btn-outline-dark mx-3 my-3" *ngIf="opcion == 'edit'">Guardar Cambios</button>
    </div>
  </form>
</ng-template>